.wrapper {
    width: var(--max-width-main);
    margin: 0 auto;
}

.category {
    display: flex;
    height: 180px;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;

    .text-wrapper {
        margin: auto;
        user-select: none;

        .title-product {
            font-weight: 500;
            font-size: 5.8rem;
            line-height: 6.2rem;
            letter-spacing: 0.8rem;
        }

        .number-product {
            display: block;
            margin-top: 12px;
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 2.4rem;
        }
    }
}
