.wrapper {
    margin: 40px 0 30px 0;
    display: flex;
    justify-content: space-between;
}

.category {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-transform: capitalize;
    color: #777;
    user-select: none;
}

.category-item {
    &:hover {
        cursor: pointer;
        color: var(--text-color);
    }
}

.category-item.active {
    cursor: default;
    font-weight: 600;
    color: var(--text-color);
}

.btn-container {
    min-width: 88px;
    height: 32px;
    background-color: #000;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }

    .icon-btn {
        margin-top: 1px;
    }

    .btn-text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.2rem;
        text-transform: capitalize;
        margin-left: 8px;
    }

    .btn-text.btn-show-all {
        margin-left: 0;
    }
}
