:root {
    --f-width-left-right-header: 280px;
    --f-height-item-product: 80px;
    --f-height-cart-product: 504px;
}

.wrapper {
    max-width: var(--max-width-main);
    margin: 0 auto;
    padding: 31px 0;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-wrapper {
    width: var(--f-width-left-right-header);
}

.icon-search {
    cursor: pointer;
}

.search-box {
    height: 38px;
    width: 46px;
    padding: 0 4px 0 16px;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    border-radius: 32px;
    display: flex;
    align-items: center;
    transition: width 0.6s ease-in-out;

    &:focus-within {
        width: 100%;
    }
}

.input-search {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 2.6rem;
}

.button-search {
    padding: 6px;
    background-color: transparent;
    font-size: 1.6rem;
    color: #ccc;
    cursor: pointer;
}

.logo {
    margin: 0 auto;
}

.right-header {
    width: var(--f-width-left-right-header);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.account,
.shopping {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;

    &:hover {
        cursor: pointer;

        .shopping-cart-container {
            display: block;
        }
    }

    .shopping-cart-container {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        width: 400px;
        background-color: white;
        border-radius: 4px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        z-index: 999999;

        &::after {
            content: '';
            width: 98px;
            height: 30px;
            position: absolute;
            top: -19px;
            right: 0;
            background-color: transparent;
        }

        &::before {
            content: '';
            position: absolute;
            top: -20px;
            right: 24px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent white transparent;
            filter: drop-shadow(0px 0px 0px #969696);
        }

        .cart-img {
            height: 163px;
        }

        .cart-product {
            padding: 12px;
            max-height: var(--f-height-cart-product);
            overflow-y: scroll;

            .product-item:first-child {
                border-top: none;
            }

            .product-item {
                display: flex;
                align-items: center;
                border-top: 1px solid #f0f0f0;
                padding: 4px;

                .product-img {
                    height: var(--f-height-item-product);
                    min-width: 64px;
                }

                .product-description {
                    flex: 1;
                    height: var(--f-height-item-product);
                    margin-left: 8px;

                    .product-title {
                        font-weight: 600;
                        font-size: 1.8rem;
                        line-height: 2.2rem;
                    }

                    .product-price {
                        display: block;
                        margin-top: 4px;
                        font-size: 1.6rem;
                        line-height: 2rem;
                    }
                }
            }
        }

        .btn-cart-container {
            padding: 12px;
            display: flex;
            justify-content: right;

            .btn-cart {
                display: flex;
                min-width: 36px;
                height: 36px;
                margin-left: 8px;
                padding: 10px;
                border-radius: 5px;
                font-size: 1.6rem;
                background-color: rgba(0, 0, 0, 0.85);
                color: var(--white-color);

                &:hover {
                    background-color: var(--main-color);
                    cursor: pointer;
                }
            }
        }
    }
}

.account-text,
.shopping-text {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.shopping {
    margin-left: 24px;
}

.line {
    display: block;
    width: 100%;
    margin-top: var(--line-margin-top-header);
    border-bottom: 1px solid #e3e3e3;
}
